################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets/SpiralEngine/.vs/SpiralEngine/v15/Browse.VC.opendb
*.db